


:text-black-arial {
    --text-color: black;
    --font-family: Arial, sans-serif;
}
h1 {
    text-black-arial;
}
:input {
    font-size: 60px;
    font-weight 60;
   
    padding: 1% 11.5%;
    appearance: none;
    background-color: rgb(56, 54, 166);
    text-black-arial;
    float: left;
    display: block;
    outline: solid;
    outline-width: 2px;
    
    
    
}

ul{
    padding: 0px;
}


rgb(19, 17, 168)