


:text-black-arial {
    --text-color: black;
    --font-family: Arial, sans-serif;
}
/*creates an identity that the whole website will use to set font and font colour */
h1 {
    text-black-arial;
    font-size: 80px;
    border: 0px;
}/*sets the title properties of the home page */


:buttonRoot {
    font-weight: 60;
    appearance: none;
    text-black-arial;
    display: block;
    outline: solid;
    outline-width: 2px;
}/* sets a base indentity that all the buttons will use for their properties */
.menu {

    font-size: 60px;
    padding: 1% 10%;
    background-color: rgb(56, 54, 166);
    float: left;
    buttonRoot;
}/* Sets the properties of the menu buttons(Home,Subscribe,Data) */

.map {
    font-size: 20px;
    padding: 20px 170px;
    background-color: rgb(56, 54, 166);
    buttonRoot;
}/* Sets the propertiesof the map button */

.selected {
    font-size: 60px;
    padding: 1% 10%;
    background-color: rgb(19, 17, 168);
    float: left;
    buttonRoot;
}

ul{
    padding: 0px;
}


