* {
    box-sizing: border-box;
}


:text-black-arial {
    --text-color: black;
    --font-family: Arial, sans-serif;
}
h1 {
    text-black-arial;
}
#button{
    border-radius: 40px;
    border: 0;
    font-size: 1.5rem;
    font-weight 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    --text-color: black;

}
.button--primary{
    background: blue;

}
